<!DOCTYPE html>
<html>
<head>
    <title>EasyCalc | Impressum</title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favico.ico" />
</head>
<body>
<header class="header">
    <div class="header-fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <% if(activeSession.loggedin) { %>
            <div class="userbox"><p class="username"><%= activeSession.username %></p><br></div>
        <% } else { %>
            <div style="display: none"></div>
        <% } %>
        <nav class="navbar">
            <div class="dropdown">
                <script src="skripts/dropdown.js"></script>
                <input type="image"
                       src="<% if (style == 'hell') { %>images/ThreeLines.svg<% } else { %>images/ThreeLinesDark.svg<% } %>"
                       class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="info.html">INFO</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>

            </div>
        </nav>

        <hr>
    </div>
</header>
<section class="map-fixed-size">
    <h1 class="impressumHeader">Über Uns</h1>
    <div class="impressumContainer">
    <div class="impressumText">
        <p>Unsere Webseite EasyCalc wurde am 06. Juni 2020 im Rahmen einer Modulprüfung ins Leben gerufen. Urspünglich
            ging es nur darum die Grundlagen der Webanwendungen zu erlernen. Obwohl wir keine feste Vorgaben hatten
            wollten wir eine Webseite bauen, die einen praktischen Einsatz hat.
            So hatten wir die Idee einer Webseite die verschiedene Rechner zum Umwendeln von Maßeinheiten bereitstelt.
            Jeder hatte wohl schon einmal das Problem eine Maßeinheit umwandeln zu müssen.
            <br><br>
            Armen Gyunashyan & Dennis Krämer<br>
            Wirtschaftsinformatik (Bachelor)<br>
            Abschlussprojekt - Grundlagen Webanwendungen<br>
            SoSe 2020 Westfälische Hochschule (Campus Bocholt)<br>
            Münsterstraße 265 46397 Bocholt<br>
        </p>
            <img class="impressumBild" src="images/WHS_Logo.svg">
    </div>
    </div>
    <!-- https://maps-generator.com/ -->
    <iframe title="Unser Standort" class="map"
            src="https://maps.google.com/maps?width=520&height=400&hl=en&q=M%C3%BCnsterstra%C3%9Fe%20265%20Bocholt&t=&z=12&ie=UTF8&iwloc=B&output=embed"></iframe>
</section>
</body>
<!--
    ===================================
    Skripte
    ===================================
    -->
<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
    <% if(locals.statistics) { %>
    var statistics = <%- JSON.stringify(statistics) %>;
    <% } %>
</script>
<% if(locals.statistics) { %>
    <script src="skripts/canvasJS.js"></script>
<% } %>
<script src="skripts/cookieStyleLoader.js"></script>
</html>