<!DOCTYPE html>
<html>
<head>
    <title>Impressum</title>
    <link rel="stylesheet" id="sheet" href="css/dark.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="header" >
    <div class="fixed-size">
        <h1>EasyCalc</h1>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="kurs.html">KURS<li>
                    <li><a href="formeln.html">FORMELN</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                </ul>
            </nav>
        </div>
        <hr>
    </div>
</header>
</body>
</html>