<!DOCTYPE html>
<html>
<head>

    <title>Home</title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<header class="header">
    <div class="fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <nav class="navbar">
            <div class="dropdown">
                <script src="skripts/dropdown.js"></script>
                <input type="image" src="<% if (style == 'hell') {%>images/ThreeLines.svg<%} else {%>images/ThreeLinesDark.svg<%}%>" class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="formeln.html">FORMELN</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>

            </div>
        </nav>

        <hr>
    </div>
</header>
<section class="fixed-size">
    <!--
    ===================================
    Flip Cards
    ===================================
    -->
    <h1 class="flip-card-header">Rechner</h1>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img class="flip-card-image" src="images/platzhalter.jpg" alt="Maßeinheiten">
            </div>
            <div class="flip-card-back" onclick="window.location='masseinheiten-rechner.html'">
                <h1 class="flip-card-title">Maßeinheiten</h1>
                <p class="flip-card-text">Text</p>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img class="flip-card-image" src="images/platzhalter.jpg" alt="Währungen">
            </div>
            <div class="flip-card-back" onclick="window.location='waehrungen-rechner.html'">
                <h1 class="flip-card-title">Währungen</h1>
                <p class="flip-card-text">Text</p>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img class="flip-card-image" src="images/platzhalter.jpg" alt="Strom">
            </div>
            <div class="flip-card-back" onclick="window.location='strom-rechner.html'">
                <h1 class="flip-card-title">Strom</h1>
                <p class="flip-card-text">Text</p>
            </div>
        </div>
    </div>
    <!--
    ===================================
    Charts
    ===================================
    -->
    <div id="chartContainer" class="chart fixed-size"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!--
    ===================================
    Footer
    ===================================
    -->
</section>
<div>
    <footer class="footer fixed-size">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 999 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<!--
    ===================================
    Skripte
    ===================================
    -->
<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
    var statistics = <%-JSON.stringify(statistics)%>;
</script>
<script src="skripts/canvasJS.js"></script>
<script src="skripts/cookieStyleLoader.js"></script>
</html>