<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" id="sheet" href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="header">
    <div class="fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <nav class="navbar">
            <div class="dropdown">
                <input type="image" src="images/ThreeLinesDark.svg" class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="formeln.html">FORMELN</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% }
                    else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>
            </div>
        </nav>
        <hr>
    </div>
</header>
<section class="fixed-size">

    <div class="fixed-size">
        <h1>Devisen & Währungen</h1>
        <!-- Es muss noch so geändert werden, dass hier die Kurse aus dem backend ausgelesen werden -->
    </div>

</section>
<!--
===================================
Footer
===================================
-->
<div>
    <footer class="footer fixed-size">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 999 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<!--
===================================
Responsive Navbar Skript
===================================
-->
<script>
    function mobileNavbar() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<!--
===================================
Cookies Skript
===================================
-->
<script>
    /**
     * Der Code musste hier angepasst werden (teilweise redundant), da Chrom und Edge anders mit Cookies umgehen, als Opera.
     * Chrom kann in Cookies nur schreiben und Sie nicht richtig lesen.
    */
    const stylesheet = document.getElementById("sheet");
    const checkBox = document.getElementById("styleChecker");

    var style = "<%= style %>";
    /*
    if(style == 'dunkel') {
        checkBox.checked = false; 
    } else {
        checkBox.checked = true; 
    }
    */
    checkBox.onclick = function() {
        if(this.checked) {
            document.cookie = "style=hell";
            stylesheet.href="css/default.css";
            //checkBox.checked = true;
        } else {
            document.cookie = "style=dunkel";
            stylesheet.href="css/dark.css";
            //checkBox.checked = false;
        }
    }

</script>

<script>
    var today = new Date();
    day = today.getDay();
    month = today.getMonth() + 1;
    year = today.getFullYear();
    document.getElementById("currentDay").innerHTML= day + "."+month + "." + "." + year</script>
</html>