<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="header">
    <div class="header-fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <% if(activeSession.loggedin) { %><div class="userbox"><p class="username"><%= activeSession.username %></p><br></div><% } else { %><div style="display: none"></div><% } %>
        <nav class="navbar">
            <div class="dropdown">
                <script src="skripts/dropdown.js"></script>
                <input type="image"
                       src="<% if (style == 'hell') { %>images/ThreeLines.svg<% } else { %>images/ThreeLinesDark.svg<% } %>"
                       class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="info.html">INFO</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>

            </div>
        </nav>

        <hr>
    </div>
</header>
<section class="fixed-size">
    <h1 class="kursHeader">Devisen & Währungen</h1>
    <!-- Es muss noch so geändert werden, dass hier die Kurse aus dem backend ausgelesen werden -->
    <div class="kurse">
        <table>
            <tr>
                <th id="currentDay" colspan="4"></th>
            </tr>
            <tr>
                <th>Währungen</th>
                <th>Kurs</th>
                <th>Veränderung</th>
                <th>Veränderung %</th>
            </tr>
            <tr>
                <td><img src="images/EU_flag.svg" width="17px"> EUR > USD <img src="images/USA_flag.svg" width="17px"></td>
                <td id="td1">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/EU_flag.svg" width="17px"> EUR > GBP <img src="images/UK_flag.svg" width="17px"></td>
                <td id="td2">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/EU_flag.svg" width="17px"> EUR > YEN <img src="images/JAP_flag.svg" width="17px"></td>
                <td id="td3">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/USA_flag.svg" width="17px"> USD > EUR <img src="images/EU_flag.svg" width="17px"></td>
                <td id="td7">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
                <td><img src="images/USA_flag.svg" width="17px"> USD > GBP <img src="images/UK_flag.svg" width="17px"></td>
                <td id="td4">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/USA_flag.svg" width="17px"> USD > YEN <img src="images/JAP_flag.svg" width="17px"></td>
                <td id="td5">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/UK_flag.svg" width="17px"> GBP > EUR <img src="images/EU_flag.svg" width="17px"></td>
                <td id="td8">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/UK_flag.svg" width="17px"> GBP > USD <img src="images/USA_flag.svg" width="17px"></td>
                <td id="td10">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/UK_flag.svg" width="17px"> GBP > YEN <img src="images/JAP_flag.svg" width="17px"></td>
                <td id="td6">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/JAP_flag.svg" width="17px"> YEN > EUR <img src="images/EU_flag.svg" width="17px"></td>
                <td id="td9">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/JAP_flag.svg" width="17px"> YEN > USD <img src="images/USA_flag.svg" width="17px"></td>
                <td id="td11">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
            <tr>
                <td><img src="images/JAP_flag.svg" width="17px"> YEN > GBP <img src="images/UK_flag.svg" width="17px"></td>
                <td id="td12">Zahl</td>
                <td>+Zahl</td>
                <td>+Zahl %</td>
            </tr>
        </table>
    </div>
</section>
<!--
===================================
Footer
===================================
-->
<div>
    <footer class="footer">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 265 46397 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<!--
===================================
Responsive Navbar Skript
===================================
-->
<script>
    function mobileNavbar() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<!--
===================================
Cookies Skript
===================================
-->
<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
    <% if(locals.statistics) { %>
    var statistics = <%- JSON.stringify(statistics) %>;
    <% } %>
</script>
<% if(locals.statistics) { %>
    <script src="skripts/canvasJS.js"></script>
<% } %>
<script src="skripts/cookieStyleLoader.js"></script>

<script>

    var Kurse;
    <% if(locals.Kurse) { %> Kurse = <%- JSON.stringify(Kurse)%>;<% } %>
    const td1 = document.getElementById("td1");
    const td2 = document.getElementById("td2");
    const td3 = document.getElementById("td3");
    const td4 = document.getElementById("td4");
    const td5 = document.getElementById("td5");
    const td6 = document.getElementById("td6");
    const td7 = document.getElementById("td7");
    const td8 = document.getElementById("td8");
    const td9 = document.getElementById("td9");
    const td10 = document.getElementById("td10");
    const td11 = document.getElementById("td11");
    const td12 = document.getElementById("td12");

    var td1Kurs = (Number.parseFloat(Kurse.EURtoUSD)).toFixed(4);
    var td2Kurs = (Number.parseFloat(Kurse.EURtoGBP)).toFixed(4);
    var td3Kurs = (Number.parseFloat(Kurse.EURtoYEN)).toFixed(4);
    var td4Kurs = (Number.parseFloat(Kurse.USDtoGBP)).toFixed(4);
    var td5Kurs = (Number.parseFloat(Kurse.USDtoYEN)).toFixed(4);
    var td6Kurs = (Number.parseFloat(Kurse.GBPtoYEN)).toFixed(4);

    var td7Kurs = (1 / td1Kurs).toFixed(4);
    var td8Kurs = (1 / td2Kurs).toFixed(4);
    var td9Kurs = (1 / td3Kurs).toFixed(4);
    var td10Kurs = (1 / td4Kurs).toFixed(4);
    var td11Kurs = (1 / td5Kurs).toFixed(4);
    var td12Kurs = (1 / td6Kurs).toFixed(4);

    td1.innerHTML=td1Kurs;
    td2.innerHTML=td2Kurs;
    td3.innerHTML=td3Kurs;
    td4.innerHTML=td4Kurs;
    td5.innerHTML=td5Kurs;
    td6.innerHTML=td6Kurs;

    td7.innerHTML= td7Kurs;
    td8.innerHTML= td8Kurs;
    td9.innerHTML= td9Kurs;
    td10.innerHTML= td10Kurs;
    td11.innerHTML= td11Kurs;
    td12.innerHTML= td12Kurs;

    //--------------------------------------------
    // Vorherige Kurse
    //--------------------------------------------
    

    var today = new Date();
    day = today.getDate();
    month = today.getMonth() + 1;
    year = today.getFullYear();
    document.getElementById("currentDay").innerHTML = " Stand " + day + "." + month + "." + year;
</script>
</html>