<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<header class="header">
    <div class="fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <nav class="navbar">
            <div class="dropdown">
                <script src="skripts/dropdown.js"></script>
                <input type="image"
                       src="<% if (style == 'hell') { %>images/ThreeLines.svg<% } else { %>images/ThreeLinesDark.svg<% } %>"
                       class="dropbtn" onClick="mobileNavbar()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="formeln.html">FORMELN</a>
                    <!--
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html" style="pointer-events: none; cursor: default;">LOGIN</a>
                    <% } %>
                    -->
                </div>

            </div>
        </nav>

        <hr>
    </div>
</header>
<section class="loginSection">
    <div class="login-form">
        <h1>Anmelden</h1>
        <form action="login.html/auth" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
</section>
<div>
    <footer class="footer fixed-size">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 999 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
    <% if(locals.statistics) { %>
    var statistics = <%- JSON.stringify(statistics) %>;
    <% } %>
</script>
<% if(locals.statistics) { %>
    <script src="skripts/canvasJS.js"></script>
<% } %>
<script src="skripts/cookieStyleLoader.js"></script>
</html>