<!DOCTYPE html>
<html>

<head>
    <title>Testseite</title>
    <style>
        html,
        body {
            background-color: #303030;
            color: lightgray;
        }
    </style>
</head>

<body>

    <h1>Testseite</h1>

    <button id="nextBtn" onclick="getNext(10)">next</button>
    <button id="prevBtn" onclick="getPrev(10)">prev</button>
</body>

<script>

    var chronic;


    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status == 200) {
                if (xhr.response) {
                    chronic = JSON.parse(xhr.response);
                    checkButtons(10);
                }
            }
        }
    };

    const checker = new XMLHttpRequest();
    checker.onreadystatechange = function () {
        if (checker.readyState === 4) {
            if (checker.status == 200) {
                if (checker.response) {
                    tmp = JSON.parse(checker.response);
                }
            }
        }
    };

    //------------------------------------

    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');

    var factor = 10;
    var left = 0;
    var right = factor + 1;
    renderFirst(factor);

    function renderFirst(factor) {
        var stringURL = '/api/measure/?left=0&right=' + factor + 1; //Ein weiterer wird angefragt für den Rangecheck
        xhr.open('get', stringURL);
        xhr.send();
        checkButtons(factor);
    }

    function getNext(factor) {

        left += factor;
        right += factor;

        var urlString = '/api/measure/?left=' + left + '&right=' + right;

        xhr.open('get', urlString);
        xhr.send();
        checkButtons(factor);
    }
    function getPrev(factor) {

        left -= factor;
        right -= factor;

        var urlString = '/api/measure/?left=' + left + '&right=' + right;

        xhr.open('get', urlString);
        xhr.send();
        checkButtons(factor);
    }

    function checkButtons(factor) {

        if (chronic) {

            if (chronic.length > factor) {
                nextBtn.style.display = 'block';
            } else {
                nextBtn.style.display = 'none';
            }

            if (left > 0) {
                prevBtn.style.display = 'block';
            } else {
                prevBtn.style.display = 'none';
            }
        }

    }
</script>

</html>