<!DOCTYPE html>
<html>
<head>
    <script src="skripts/dropdown.js"></script>
    <title></title>
    <link rel="stylesheet" id="sheet"
          href="<% if(style == 'dunkel') { %>css/dark.css<% } else { %>css/default.css<% } %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<header class="header">
    <div class="fixed-size">
        <h1 class="logo">EasyCalc</h1>
        <label class="switch">
            <input type="checkbox" id="styleChecker" <% if(style == 'hell') { %>checked
                    <% } %>
            >
            <span class="slider round"></span>
        </label>
        <nav class="navbar">
            <div class="dropdown">
                <button onclick="mobileNavbar()" class="dropbtn">Options</button>
                <!--<input type="image" src="images/ThreeLinesDark.svg" class="dropbtn" onClick="mobileNavbar()">-->
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">HOME</a>
                    <a href="kurs.html">KURS</a>
                    <a href="formeln.html">FORMELN</a>
                    <% if(activeSession.loggedin) { %> <a href="logout">LOGOUT</a>
                    <% } else { %>
                        <a href="login.html">LOGIN</a>
                    <% } %>
                </div>

            </div>
        </nav>
        <hr>
    </div>
</header>
<section class="fixed-size">
    <!--
    =================================================================================
       v Muss beim Überarbeiten des Designs übernommen werden   v   v   v   v   v   v
    =================================================================================
    -->
    <h1>Divisenkurs-Rechner</h1>
    <form action="/waehrungen-rechner.html" method="POST">
        <label fpr="mode">Divisenkurs: </label>
        <select name="mode" id="mode" required>
            <optgroup label="Euro">
                <option value="1">EUR > USD</option>
                <option value="2">EUR > GBP</option>
                <option value="3">EUR > YEN</option>
            </optgroup>
            <optgroup label="US Dollar">
                <option value="4">USD > EUR</option>
                <option value="5">USD > GBP</option>
                <option value="6">USD > YEN</option>
            </optgroup>
            <optgroup label="Yen">
                <option value="7">YEN > EUR</option>
                <option value="8">YEN > USD</option>
                <option value="9">YEN > GBP</option>
            </optgroup>
        </select>
        <input type="submit" name="Yob">
    </form>
    <!--
    =================================================================================
    ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   ^   
    =================================================================================
    -->
</section>
<!--
    ===================================
    Footer
    ===================================
    -->
<div>
    <footer class="footer fixed-size">
        <hr>
        <h1 class="footer-header"><a href="impressum.html">Impressum</a></h1>
        <p>Dennis & Armen</p>
        <p>Münsterstraße 999 Bocholt</p>
        <p>WHS</p>
    </footer>
</div>
</body>
<!--
    ===================================
    Skripte
    ===================================
    -->
<script>

    const mode = document.getElementById('mode');


</script>



<script>
    //Import der Variablen aus der RenderEngine (EJS)
    //Die Variablen werden von den nachfolgenden Skripten benötigt

    var style = "<%= style %>";
</script>
<script src="skripts/cookieStyleLoader.js"></script>
</html>