@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body, *, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin-top: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #181818;
}

h1, h2, h3, h4, h5, h6 {
    color: gray;
    font-size: 40pt;
    font-family: 'Orbitron', 'SansSerif';
}

.fixed-size {
    margin: 0 auto;
    background-color: #151515;
    max-width: 960px;
}

/*---------------------------------------------- Ab hier beginnt unser CSS code*/
body
{
    background-color: #454545;
    margin-left: 150px;
    margin-right: 150px;
}

.navbar
{
    float: right;
}

.navbar > ul > li
{
    display: inline-block;
    float: left;
    color: gray;
    font-size: 20pt;
    font-family: 'Orbitron', 'SansSerif';
    text-align: right;
    margin:7px;
}

li a
{
    color: gray;
    font-family:'Orbitron', 'SansSerif';
    text-decoration: none;
}

li a:hover:not(.active) {
  color: lightgray;
}

hr
{
    margin-top: 20px;
    border:none;
    height:1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 470, from(white), to(#454545));
}

.switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#303030;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before
{
    position: absolute;
    content:"";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #303030;
}

input:focus + .slider {
    box-shadow: 0 0 1px #454545;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}