@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
/* Akzentfarbe #179180 */

body, *, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
    background-color: #454545;
    color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 5px;
    font-size: 40pt;
    font-family: 'Orbitron', 'SansSerif';
}

.fixed-size {
    margin: 0 auto;
    background-color: #303030;
    max-width: 940px;
}

p {
    font-size: 10pt;
    font-family: SansSerif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

/*----------------------------------------------*/

/*Username*/
.username {
    
    margin: 8px;
    margin-right: 0px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #179180;
    float: right;
    border-radius: 8px 0px 0px;
    color: lightgray;
    font-size: 14pt;
}

.userbox {
    margin: 0 auto;
    max-width: 940px;
    min-height: 50px;
}


/* Navbar Style */
.dropbtn {
    display: none;
}

.threeLines {
    display: none;
}

.navbar {
    float: right;
}

.navbar a {
    display: inline-block;
    font-size: 20pt;
    font-family: 'Orbitron', 'SansSerif';
    text-align: right;
    margin: 7px;
}

.logo
{
    font-size: 40pt;
}


hr {
    border: none;
    height: 2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(white), to(#303030));
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover:not(.active) {
    color: gray;
}

/* Switch Style */

.header .switch {
    margin-top: 9px;
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    margin-left: 5px;
}

.header .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.header .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #454545;
    -webkit-transition: .4s;
    transition: .4s;
}

.header .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

.header .slider.round {
    border-radius: 34px;
}

.header .slider.round:before {
    border-radius: 50%;
}

.header .slider:not(checked) {
    background-color: #454545;
}

/* Flip-Card Style */

.flip-card-header {

    margin-bottom: 10px;
    font-size: 30pt;
    text-align: center;
}

.flip-card {
    background-color: #303030;
    width: 290px;
    height: 290px;
    perspective: 1000px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    background-color: #303030;
    color: lightgray;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-title {
    margin-top: 20px;
    font-size: 20pt;
    font-family: 'Orbitron', 'SansSerif';
}

.flip-card-text {
    margin-top: 20px;
    font-size: 10pt;
    font-family: 'Orbitron', 'SansSerif'
}

.flip-card-image {
    width: 290px;
    height: 290px;
}

/* Footer Style */

.footer {
    bottom: 0;
    height: 80px;
}

.footer > p {
    margin-left: 5px;
}

.footer-header {
    font-size: 15pt;
}

/* Chart Style */

.chart {
    width: auto;
    margin: auto;
    height: 300px;
}


/* Devisenkurs Tabelle*/

#currentDay {
    font-size: 20pt;
    padding: 5px;
    font-weight: bold;
}

.kurse {
    padding: 20px;
    font-size: 14pt;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}

.kurse table {
    width: 100%;
}

.kurse td, th {
    border: 1px solid #404040;
    padding: 8px;
}

.kursHeader {
    text-align: center;
    margin-bottom: 10px;
}

.kurse tr:nth-child(even) {
    background-color: #252525;
}

.kurse tr:hover {
    background-color: #454545;
    cursor: default;
}

.kurse th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #179180;
    color: white;
}

/* Login */
.loginSection
{
    margin: 0 auto;
    background-color: #303030;
    max-width: 940px;
}

.login-form {
    width: auto;
    max-width: 400px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #303030;
    padding-bottom: 25px;
}

.login-form h1 {
    text-align: center;
    color: lightgray;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    margin-bottom: 15px;
    box-sizing: border-box;
    /*background-color: ghostwhite;*/
    background-color: #202020;
    color: lightgray;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #179180;
}

@media screen and (min-width: 940px) {
    /* Responsive Flip Card */
    .flip-card {
        float: left;
        margin-left: 17.5px;
        margin-top: 15px;
        width: 290px;
        height: 290px;
    }

    /* Responsive Chart */
    .chart {
        margin-top: 340px;
        width: 940px;
        min-height: 370px;
    }
}

/* Mobile Navbar */
@media screen and (max-width: 560px) {


    .dropdown-content {
        display: none;
        background-color:#454545;
        width: 100%;
        margin-top: 51px;
        border: 1px solid #303030;
    }

    .dropbtn {
        display: block;
        float: right;
        margin-right: 5px;
        height: 25px;
        width: 25px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        font-family: "Orbitron";

    }

    .dropdown {
        display: inline-block;
        z-index: 1;
        position: relative;
        width: 120px;
    }

    .dropdown-content a {
        padding: 12px;
        display: block;
        text-align: center;
        margin-left: 0;
        font-size: 100%;
        width: 100%;
    }

    .dropdown a:hover {
        background-color: #179180;
        color: #d3d3d3;
    }

    .show {
        display: block;
        position: absolute;
    }
}

/* Responsive Table*/
@media screen and (max-width: 765px) {

    .kurse
    {
        font-size: 12pt;
    }
    #currentDay
    {
        font-size: 18pt;
    }
}

@media screen and (max-width: 490px) {
    .kurse
    {
        width: auto;
        padding: 0;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 8pt;
    }
    .kursHeader
    {
        margin-top: -40px;
        font-size: 20pt;
    }
    #currentDay
    {
        font-size: 14pt;
    }
}
@media screen and (max-width: 345px) {
    .kurse
    {
        font-size: 7.2pt;
    }
    .kurse img
    {
        height: 7px;
        width: 7px;
    }
}

/* Responsive Logo*/
@media screen and (max-width: 320px) {
    .logo
    {
        font-size: 30pt;
    }
}

/* Responsive Login*/
@media screen and (max-width: 420px) {
    .login-form {
        margin-left: 5px;
        margin-right: 5px;
    }
}