@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
/* Akzentfarbe #179180 */

body, *, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
    background-color: #454545;
    color: black;
    font-family: 'Orbitron', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 5px;
    font-size: 40pt;
}

.fixed-size {
    margin-top: -30px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    max-width: 940px;
    min-height: 80.9%;
    position: relative;
}

.header-fixed-size {
    margin-bottom: 39px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 940px;
    height: auto;
    position: relative;
}

.map-fixed-size {
    margin-top: -30px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    max-width: 940px;
    min-height: 88.5%;
    position: relative;
}

p {
    font-size: 10pt;
    font-family: sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

/*----------------------------------------------*/

/*Username*/
.username {
    padding: 4px 8px;
    background-color: #179180;
    float: right;
    border-radius: 8px 0px 0px;
    color: white;
    font-size: 14pt;
}

.userbox {
    position: absolute;
    top: 8px;
    right: 5px;
    max-width: 940px;
    min-height: 50px;
}

/* Navbar */
.dropbtn {
    display: none;
}

.navbar {
    position: absolute;
    right: 0;
    bottom: 0;
}

.navbar a {
    display: inline-block;
    font-size: 20pt;
    text-align: right;
    margin: 7px;
    color: black;
}

.logo {
    font-size: 40pt;
}

hr {
    border: none;
    height: 2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#179180), to(#454545));
}

.welcome {
    width: auto;
    text-align: center;
    font-size: 30pt;
    margin-top: -30px;
    padding-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover:not(.active) {
    color: gray;
}

/* Switch */

.header .switch {
    margin-top: 9px;
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    margin-left: 5px;
}

.header .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header input:checked + .slider {
    background-color: #179180;
}

.header input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.header .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #454545;
    -webkit-transition: .4s;
    transition: .4s;
}

.header .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.header .slider.round {
    border-radius: 34px;
}

.header .slider.round:before {
    border-radius: 50%;
}

/* Flip-Card */

.flip-card-header {
    font-size: 30pt;
    text-align: center;
}

.flip-card {
    width: 290px;
    height: 290px;
    perspective: 1000px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-title {
    padding-top: 10px;
    color: white;
    font-size: 20pt;
}

.flip-card-text {
    margin: 20px 8px 8px;
    font-size: 12pt;
    font-family: 'sans-serif';
    text-shadow: 2px 2px 5px black;
    color: white;
    text-align: left;
}

/* Footer */

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: white;
    bottom: 0;
    height: auto;
    width: auto;
    max-width: 940px;
}

.footer > p {
    margin-left: 5px;
}

.footer-header {
    font-size: 15pt;
}

.footer-header a {
    color: black;
}

/* Chart */

/* Chart */

.chart {
    width: auto;
    margin: auto;
    height: 300px;
}

/* Devisenkurs Tabelle*/

#currentDay {
    font-size: 20pt;
    padding: 5px;
    font-weight: bold;
}

.kurse {
    padding: 20px;
    font-size: 14pt;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}

.kurse table {
    width: 100%;
}

.kurse td, th {
    border: 1px solid lightgray;
    padding: 8px;
}

.kursHeader {
    text-align: center;
    margin-bottom: 10px;
}

.kurse tr:nth-child(even) {
    background-color: lightgray;
}

.kurse tr:hover {
    background-color: #999999;
    cursor: default;
}

.kurse th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #179180;
    color: black;
}

.kurse #currentDay {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    border: none;
    color: black;
}

/* Login */
.login-form {
    width: auto;
    max-width: 400px;
    margin: auto;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: white;
    padding-top: 20%;
}

.login-header {
    text-align: center;
    color: black;
    font-size: 40px;
    padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: ghostwhite;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #179180;
}

.login-form input {
    color: black;
}

::placeholder {
    color: rgba(5, 0, 0, 0.29);
}

/* Formeln */
.formeln {
    text-align: justify;
    padding-bottom: 20px;
    padding-top: 20px;
}

.formeln h1 {
    font-size: 15pt;
    text-align: center;
    padding-bottom: 10px;
}

.formeln div {
    width: auto;
    height: auto;
    border: 2px solid #179180;
    margin: 20px 10px;
    padding: 5px;
    border-radius: 5px;
}

/* Google Maps */
.map {
    position: absolute;
    width: 930px;
    height: 400px;
    frameborder: 0;
    scrolling: no;
    bottom: 5px;
    margin: 0 5px;
}

/* Maßeinheiten */
.masseinheiten-header
{
    text-align: center;
}

.masseinheiten-form
{
    text-align: center;
    padding-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: relative;
}

.radiobtn
{
    width: auto;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    font-size: 15pt;
}

.nmbField, .masseinheiten-berechnen
{
    border: 1px solid black;
    color: black;
    font-family: "Orbitron", "sans-serif";
    font-size: 15pt;
    text-align: center;
    width: 86%;
    height: 100%;
    margin-bottom: 3px;
}

.masseinheiten-berechnen:hover
{
    background-color: rgba(128, 128, 128, 0.38);
}

.masseinheiten-result
{
    position: absolute;
    margin-top: 1px;
    padding: 3px;
    left: 7%;
    font-family: "Orbitron", "sans-serif";
    font-size: 100%;
    border: 1px solid #179180;
    background-color: rgba(23, 145, 128, 0.25);
    width: 86%;
}

.masseinheiten-result:empty {
    display: none;
}

.verlauf-header
{
    text-align: center;
    font-size: 30pt;
    padding-bottom: 10px;
}

.chronicList
{
    text-align: center;
    font-size: 15pt;
    padding: 5px 0;
    border: 1px solid #179180;
    width: 26%;
    margin: 0 auto;
}

.chronicList a
{
    color: black;
}

.chronicList li:nth-child(even)
{
    background-color: lightgray;
}

.chronicList:empty {
    display: none;
}

.pager-btn
{
    position: relative;
    width: 26%;
    margin: 5px auto;
}

#nextBTN
{
    position: absolute;
    left: 50%;
    width: 50%;
}

#prevBTN
{
    position: absolute;
    right: 50%;
    width: 50%;
}

/* Responsive Flip Card */
@media screen and (min-width: 940px) {
    .flip-card {
        float: left;
        margin-left: 17.5px;
        margin-top: 15px;
        width: 290px;
        height: 290px;
    }
}

/* Responsive Chart */
@media screen and (min-width: 940px) {
    .chart {
        margin-top: 340px;
        width: 940px;
        min-height: 370px;
    }
}

/* Responsive Navbar */
@media screen and (max-width: 580px) {

    .dropdown-content {
        display: none;
        background-color: white;
        width: 100%;
        margin-top: 41px;
        border: 1px solid lightgray;
    }

    .dropbtn {
        display: block;
        float: right;
        margin-right: 5px;
        height: 25px;
        width: 25px;
        border: none;
        cursor: pointer;
        margin-bottom: 5px;
        font-family: "Orbitron", "sans-serif";

    }

    .dropdown {
        display: inline-block;
        z-index: 1;
        position: relative;
        width: 120px;
    }

    .dropdown-content a {
        padding: 12px;
        display: block;
        text-align: center;
        margin-left: 0;
        font-size: 100%;
        width: 100%;
        color: black;
    }

    .dropdown a:hover {
        background-color: #179180;
        color: black;
    }

    .show {
        display: block;
        position: absolute;
    }
}

/* Responsive Table */
@media screen and (max-width: 765px) {

    .kurse {
        font-size: 12pt;
    }

    #currentDay {
        font-size: 18pt;
    }
}

@media screen and (max-width: 490px) {
    .kurse {
        width: auto;
        padding: 0;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 8pt;
    }

    .kursHeader {
        margin-top: -40px;
        font-size: 20pt;
    }

    #currentDay {
        font-size: 14pt;
    }
}

@media screen and (max-width: 345px) {
    .kurse {
        font-size: 7.2pt;
    }

    .kurse img {
        height: 7px;
        width: 7px;
    }
}

/* Responsive Logo */
@media screen and (max-width: 480px) {
    .logo {
        font-size: 30pt;
    }
}

@media screen and (max-width: 340px) {
    .logo {
        font-size: 25pt;
    }

    .username {
        font-size: 10pt;
    }
}

/* Responsive Login */
@media screen and (max-width: 420px) {
    .login-form {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Responsive Google Maps */
@media screen and (max-width: 940px) {
    .map {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-height: 700px) {
    .map {
        position: relative;
    }
}

/* Responsive Maßeinheiten Rechner */
@media screen and (max-width: 500px) {
    .masseinheiten-header
    {
        font-size: 28pt;
    }
}

@media screen and (max-width: 810px) {

    .pager-btn
    {
        width: 96%;
    }

    .chronicList
    {
        font-size: 100%;
        width: 96%;
        height: auto;
    }
    .verlauf-header
    {
        font-size: 15pt;
    }

    .masseinheiten-form
    {
        width: 100%;
    }

    .nmbField, .masseinheiten-berechnen
    {
        width: 96%;
        height: auto;
        font-size: 100%;
        display: inline-block;
    }

    .radiobtn
    {
        font-size: 100%;
    }

    .masseinheiten-result {
        width: 96%;
        left: 2%;
    }
}

@media screen and (max-height: 820px) {
    #nextBTN
    {
        position: relative;
    }
}